<div class="container" style="text-align: center;">
  <%= search_form_for @q do |f| %>
      <%= f.search_field :title_or_discription, class: "text-field-search", placeholder: "Search..." %>
      <%= f.submit "Search", class: "search" %>
  <% end %>
</div>