<div class="container" style="text-align: center;">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :title_or_discription_cont, class: "text-field-search", placeholder: "Search...", required: true %>
  <% end %>
</div>