
body {
  background-color: #f8f9fa!important;
}
.logo-item {
  display: inline-grid;
  color: #FFFFFF;
}
.material-icons {
  font-size: 2.5em;
  text-align: center;
}

.navbar .navbar-brand {
  font-size: 1.5em;
  margin: auto;
  font-family: Impact, Charcoal, sans-serif;
  color: #FFFFFF !important;
  background: none !important;
  opacity: unset !important;
}

.navbar-expand-lg {
  position: fixed;
  width: 100%;
  overflow: hidden;
  letter-spacing: 1.5px;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  text-transform: uppercase;
  border-bottom: none;
}

.navbar-light .navbar-nav .nav-link {
  text-align: center;
}

#navbar li a {
  color: #FFFFFF;
  font-weight: bold;
}

#navbar a:hover {
  background: #C6C1C1;
  color: #00FFFF;
  transition: 0.5s;
  opacity: 0.7;
}

.navbar .expand {
  text-transform: lowercase;
}

.logo-item:hover {
  color: #FF0040;
  opacity: 0.7;
  transition: 1s;
}

.col-lg-8 {
  padding: 20px;
}

.w-100 {
  height: 640px;
}

.mx-auto {
  padding-bottom: 130px;
}

@media (min-width: 960px) {
  strong {
    font-size: 4rem;
  }
  #outline-danger {
    font-size: 1.5rem;
  }
  #btn-join {
  background-color: #FA5858;
  }
}

.skill {
  padding-top: 30px;
}

@media (max-width: 960px) {
  #navbar {
    background-color: #000000 !important;
    padding: 8px 16px !important;
  }
}

hr {
    margin-top: 1em;
    max-width: 50px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
#outline-danger {
  border-radius: 56px;
}

.btn-outline-info {
  font-size: 1.5rem;
}

.my-4 {
  border-color: #FA5858;
}
p {
  text-align: justify;
}

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

/* ---- .grid-item ---- */

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

#skill-language, #skill-https, #skill-code, #skill-music {
  color: #2ECCFA;
  font-size: 3.5rem;
}

h3 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

#footer-wrapper {
  background: url("03.jpg");
  background-size: cover !important;
  height: 430px;
}

.text-light {
  color: #FFFFFF;
}

h1 {
  text-transform: uppercase;
}

.portfolio-caption {
  background-color: #fff;
  max-width: 400px;
  margin: 0 0 20px;
  padding: 25px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}